.wrapper {
    background-color: #212153;
    max-width: 550px;
    min-width: 400px;
    color: white;

    .header {
        background-color: #15153e;
        margin: 0px -1.5rem;
        margin-top: -1.5rem;
        height: 60px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        display: flex;
        align-content: center;
        justify-content: center;

        .fingerprint {
            display: flex;
            align-items: center;
            margin-right: 10px;

            img {
                height: 40px;
            }
        }

        .text {
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: 500;
        }
    }
}