.wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    background-color: black;


    .mobile {
        z-index: 1;
        border: #3A3746 2px solid;
        border-radius: 16px;
        max-width: 335px;
        max-height: 670px;
        height: 100%;
        width: 100%;
        opacity: 1;
        overflow: hidden;
        background-color: #0A0A11;
    }

    .background {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100vw;

        .gradient {
            width: 100vw;

            img {
                width: 100%;
            }
        }
    }
}

@keyframes turning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}