.wrapper {
    height: 40px;
    position: absolute;
    top: 35px;
    right: 8%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 768px) {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .user {
        background-color: white;
        height: 100%;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5px;
        cursor: pointer;

        .balance {
            font-weight: 500;
            white-space: nowrap
        }

        .account {
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #f1f1f1;
            border-radius: 12px;
            width: 100%;
            padding: 0px 5px;
            margin-left: 5px;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;

                img {
                    width: 20px;
                    border-radius: 50%;
                }
            }
        }

    }
}