.wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .title {
        color: white;
        font-size: 32px;
    }

    .madeby{
        color: white;
        font-size: 16px;
    }
}