.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .line {
        background-color: #3A3746;
        height: 1px;
        width: 100%;
        margin: 20px 0px;
    }
}