.wrapper {
    width: 350px;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 40px;
    margin-top: 200px;
    z-index: 999;

    @media(max-width: 756px) {
        margin-top: none;
        margin-bottom: 400px;

    }

    .message {
        text-align: center;
        margin-bottom: 5px;
        white-space: pre-wrap;
        font-size: 15px;
    }

    .timer {
        text-align: center;
        margin-bottom: 15px;
        font-size: 24px;
    }

    .toDo {
        text-align: center;
        margin-bottom: 15px;
        font-size: 14px;
    }
}