.wrapper {
    width: 100%;

    .input {
        .inputField {
            width: 100%;
            border-radius: 12px;

            input {
                background-color: white;
                border-radius: 12px;
            }
        }
    }
}